header{
    height: 90px;
    margin-bottom: 15px;
    background-color: white;
}

#imagen-logo{
    height: 70px;
    padding-right: 65%;
}

li{
    padding-right: 20px
}

footer{
    text-align: center; 
    justify-content: center;
    height: 170px;
    margin-bottom: 5px;
    background-color: rgb(27, 100, 211)
}

#iconos{
    padding-top: 20px;
    justify-content: space-between ;
}

section{
    height: 375px;
    width: 500px;
}

#segunda-caja{
    background: url(fondoMain.jpg);
    background-size: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

aside{
    width: 300px;
    height: 70px;
    font-size: 30px;
}

#albun{
    width: 100%;
    height: 100%;
}

.footer-div{
    color: #ffffff;
}

#tercera-caja{
    
    
    padding: 100px;
    
    
   height: 1800px;
   
  
}

#ortodoncia{
    width: 600px;
   
    
    height:  300px;
 

}

#image1{
    
    height: 300px;
    width: 400px;
    position: relative;
      left:  700px;
      bottom: 200px;
  


 }

 

 #tradicional{
  
    width: 600px;
    height: 300px;
 }
 #image2{
      
    height: 300px;
    width: 400px;
    position: relative;
    left:  700px;
    bottom: 200px;
  


 }
 #lingual{
    

                                    
    width: 600px;
    height: 300px;
 }
 #image3{
    
    height: 300px;
    width: 400px;
    position: relative;
    left:  700px;
    bottom: 200px;
  


 }